<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="">Weiver</a>
  is a project to make people get the genuine reviews of the Products.

</p>
<p align:center>We will be updating the complete details in near future.</p>
<h4>Thank You</h4>
