<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact anything about the Weiver at the
  <a href="http://www.facebook.com/sridhar.ji">facebook page</a>
  or mail-us at admin@weiver.com.
  .
</p>