<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to categories.productname, product %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", category, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
